.error-wrapper__background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  left: 0;
  background-color: #000;
  opacity: 0.7;
  transition: 500ms;
}

.error-wrapper {
  position: fixed !important;
  display: grid;
  top: 40vh;
  min-width: 200px;
  width: auto;
  z-index: 2;
  padding: 20px;
  overflow: hidden;
  border-radius: 4px;
  background-color: #fff;
  justify-items: center;

  .error-wrapper__retry-button {
    width: max-content;
    margin-top: 2ch;
    padding: 0.5ch 2ch;
    background-color: #fff;
    border: 1px solid #a6acbe;
    border-radius: 10px;
    cursor: pointer;
  }
}
