.table {
  width: 100%;
  cursor: default;
  border-spacing: unset;

  .table__header {
    width: 100%;
    background-color: #f5f5f5;

    th {
      width: max-content;
      color: #a6acbe;
      padding: 6px 10px;
      text-align: start;

      &:last-child {
        text-align: center;
      }
    }
  }

  .table__body {
    tr {
      td {
        padding: 6px 10px;

        &:last-child {
          text-align: center;
        }
      }
    }
  }
}
